@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.tiptap {
  min-height: 24rem;      /* ~384px */
  padding: 1rem;
  line-height: 1.75;
  color: #3f3a37;
  outline: none;
}

.tiptap:focus {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #b5aca5;
  pointer-events: none;
  float: left;
  height: 0;
}


/* globals.css */

@keyframes sparkle {
  0%,
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.4;
  }

  50% {
    transform: translateY(-6px) scale(1.15);
    opacity: 1;
  }
}

@theme {
  --animate-sparkle: sparkle 4s ease-in-out infinite;
}



@keyframes sway {
  0%, 100% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(8deg);
  }
}

@theme {
  --animate-sway: sway 4s ease-in-out infinite;
}


